* {
	margin: 0%;
	padding: 0%;
}
body {
	background-image: url("../images/treeLogo2.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
}
#container {
}
header {
	height: 110px;
	background-color: #404040;
	border-bottom: solid;
}
#main {
	background-color: rgba(255, 255, 255, 0.3);
	height: 70%;
	border-top: solid;
}
/* footer {
	background-color: #404040;
	clear: both;
	position: relative;
	height: 2.5rem;
	margin-top: -200px;
} */
.wrapper1 {
	margin: 0 auto 0;
	width: 100%;
	height: 106px;
}
.nav {
	margin-top: 20px;
	background-color: black;
	width: 100%;
	float: left;
}
ul {
	position: relative;
	margin: 1em 0;
	height: 50px;
}
/* li {
	list-style: none;
	display: block;
	float: left;
	margin: 2px;
}
li a {
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	padding: 5px;
	color: white;
	font-family: 'Times New Roman', Times, serif;
	font-size: 18pt;
	margin: 3px 20px;
}
li a:hover {
	background-color: hsl(344, 6%, 34%);
} */
img {
	max-height: 100%;
}
#cart_icn {
	margin-top: 0px;
	width: 35px;
	height: 30px;
	background-color: transparent;
}
#cart_icn:hover {
	background-color: hsl(344, 6%, 34%);
}
.page_name {
	height: 25px;
	width: 100%;
	border-bottom: 1px solid #05442c1c;
	padding: 20px 30px;
	color: #11020265;
	font-size: 18px;
	font-weight: 400;
	background-color: white;
	float: left;
}
#shopping_cont {
	margin-left: 20px;
	margin-right: 535px;
	margin-top: 0;
	background: #ffffff;
	box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
	border-radius: 6px;
	width: 850px;
	padding-bottom: 100px;
	/* flex-direction: column; */
	float: left;
}
.description {
	margin-top: 20px;
	margin-right: 60px;
	margin-left: 0px;
	width: 115px;
}
.description span {
	display: block;
	font-size: 14px;
	color: #43484d;
	font-weight: 400;
}
.description span:first-child {
	margin-bottom: 5px;
	color: black;
}
.description span {
	margin-bottom: 5px;
	color: #25422b8e;
}
.item {
	float: left;
	padding: 20px 30px;
	height: 140px;
	width: 790px;
	display: flex;
	border-bottom: 1px solid #05442c1c;
}
.image {
	margin-top: 20px;
	object-fit: inherit;
	width: 100px;
	height: 100px;
}
.btn_del {
	float: left;
	margin-top: 70px;
	margin-right: 20px;
	border: none;
	width: 10px;
	height: 10px;
	cursor: pointer;
	background-color: transparent;
}
.btn_quantity {
	border: none;
	width: 10px;
	height: 10px;
	cursor: pointer;
	background-color: transparent;
}
.quantity {
	margin-top: 60px;
	margin-left: 250px;
	margin-right: 0;
}
.quantity input {
	-webkit-appearance: none;
	font-family: 'Times New Roman', Times, serif;
	border: none;
	text-align: center;
	width: 30px;
	font-size: 17px;
	color: #43484d;
	font-weight: 300;
}
.purchase input {
	-webkit-appearance: none;
	font-family: 'Times New Roman', Times, serif;
	border: none;
	text-align: center;
	width: 30px;
	font-size: 17px;
	color: #43484d;
	font-weight: 300;
}
.item-price {
	width: 80px;
	margin-top: 58px;
	margin-left: 40px;
	float: right;
	text-align: center;
	font-size: 17px;
	color: #43484d;
	font-weight: 300;
}
#total-price {
	font: bold;
}
.purchase {
	width: 330px;
	margin-top: 20px;
	margin-left: 500px;
	height: 200px;
	float: left;
	margin-bottom: 100px;
}
.btn {
	border: none;
	border-radius: 10px;
	background-color: #f09c00;
	color: white;
	font: bold;
	margin-top: 30px;
	font-size: 16px;
	cursor: pointer;
	width: 350px;
	height: 40px;
}
#purchase_btn {
	font-size: 18px;
	float: right;
}
#purchase_btn a {
	text-decoration: none;
	color: white;
}
#price_cont {
	margin-top: 40px;
	margin-left: 10px;
	width: 150px;
	float: left;
	text-align: right;
	font: bold;
	font-size: 24px;
}
#colon {
	margin-left: 20px;
	margin-top: 43px;
	text-align: left;
	float: left;
	width: 29px;
	font: bold;
}
#total-price {
	margin-left: 10px;
	margin-top: 43px;
	text-align: left;
	float: left;
	width: 70px;
	font: bold;
}
#login_btn_top {
	background-color: transparent;
	text-decoration: none;
	color: white;
	margin-top: 0px;
	width: 50px;
}
.payment {
	font-size: 28px;
}
select[name=payment] {
	height: 30px;
	width: 162px;
	font-size: 16px;
}
#total_price {
	margin-left: 34px;
}
