* {
	margin: 0%;
	padding: 0%;
}
body {
	background-image: url(../images/treeLogo2.png);
	background-position: left;
	background-repeat: repeat-y;
	background-size: contain;
	background-attachment: fixed;
}
#container {
	min-height: 100%;
}
header {
	height: 110px;
	background-color: #404040;
	border-bottom: solid;
}
#main {
	background-color: rgba(255, 255, 255, 0.3);
	height: 70%;
	border-top: solid;
}
/* footer {
	background-color: #404040;
	clear: both;
	position: relative;
	height: 2.5rem;
	margin-top: -200px;
} */
/* .wrapper1 {
	margin: 0 auto 0;
	width: 100%;
  height: fit-content;
} */
.nav {
	margin-top: 20px;
	background-color: black;
	width: 100%;
	float: left;
}
ul {
	position: relative;
	margin: 1em 0;
	height: 50px;
}
/* li {
	list-style: none;
	display: block;
	float: left;
	margin: 2px;
}
li a {
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	padding: 5px;
	color: white;
	font-family: 'Times New Roman', Times, serif;
	font-size: 18pt;
	margin: 3px 20px;
}
li a:hover {
	background-color: hsl(344, 6%, 34%);
} */
img {
	max-height: 100%;
}
#cart_icn {
	margin-top: 0px;
	width: 35px;
	height: 30px;
	background-color: transparent;
}
.page_name {
	height: 25px;
	width: 100%;
	border-bottom: 1px solid #05442c1c;
	padding: 20px 30px;
	color: #11020265;
	font-size: 18px;
	font-weight: 400;
	background-color: white;
	float: left;
}
#cont {
	margin-left: 20px;
	margin-right: 535px;
	margin-bottom: 200px;
	margin-top: 0;
	background: #ffffff;
	box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
	border-radius: 6px;
	width: 850px;
	padding-bottom: 100px;
	/* flex-direction: column; */
	float: left;
}
#login_cont {
	align-content: center;
	padding: 50px 80px;
	width: 690px;
	height: 290px;
	display: box;
	border-bottom: 1px solid #05442c1c;
	float: left;
}
#login_detail_h {
	border-bottom: 1px solid #05442c1c;
	width: 680px;
	height: 40px;
	color: #11020286;
	float: left;
}
#uname_input_cont {
	margin-top: 15px;
	margin-left: 7px;
	color: #11020286;
	width: 650px;
	float: left;
}
input[type=text],
input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
button {
	border: none;
	border-radius: 10px;
	background-color: #f09c00;
	color: white;
	font: bold;
	margin-top: 30px;
	font-size: 16px;
	cursor: pointer;
	width: 250px;
	height: 40px;
	float: right;
}
#login_btn {
	background-color: #f09c00;
	margin-right: 5px;
}
#register_btn {
	background-color: #42a745;
}
#register_btn a {
	text-decoration: none;
	color: white;
}
#login_btn_top {
	background-color: transparent;
	text-decoration: none;
	color: white;
	margin-top: 0px;
	width: 50px;
}
