*{
    margin: 0%;
    padding: 0%;
}
body{
    
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
.container {
    padding: 16px;
  }
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
button:hover {
    opacity: 0.8;
}
header{
    height: 20%;
	background-color: #404040;
	border-bottom: solid;
}
#main{
    
    background-color: rgba(255, 255, 255, 0.3);
    height: 70%;
}
/* 
footer{
    height: 10%;
    background-color: #404040; 
    border-top: solid;
} */
/* .wrapper1{
	margin: 0 auto 0;
	width: 800px;
  height: fit-content;
	
} */
.nav{
	margin:-30px auto;
	background-color: rgba(17, 2, 2, 0.3);
	width: 710px;
	
}
ul{
	position: relative;
	margin: 3em 0;
	height: 50px;
}
/* 
li{
	list-style:none;
	display: block;
	float:left;
	margin: 2px;
	border-left: solid;
	border-right: solid;
	
}
li a{
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	padding: 5px;
	color: white;
	font-family: 'Times New Roman', Times, serif;
	font-size: 18pt;
	margin: 3px 20px;
	
}
li a:hover{

	background-color:hsl(344, 6%, 34%);
} */



.imgcontainer {
  text-align: center;
  margin: 22px 0 12px 0;
}

img.paypal {
  width: 20%;
  border-radius: 110%;
}
