#cont15{
	margin-left:10px;
	background-color: aliceblue;
	border:solid;
	padding-top:10px;
	padding-bottom:10px;
	width:1000px;
    float:left;
    padding-left: 20px;
}
#cont16{
    width:500px;
    height:50px;
}
#cont17{
    margin-left:40%;
    width: 80px;
    height: 50px;
    background-color: yellow;
    
}