body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: aliceblue;
}
.header-wrapper{
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px 20px;
	margin-top: 30px;
	display: grid;
	grid-template-columns: 15% auto;
	background-color: aquamarine;
}

.burger-menu{
	display: none;
}
.container{
	width: 100%;

}
.main-wrapper{
	max-width: 1200px;
	margin: auto;
}

.nav-wrapper ul li{
	display: inline;
	list-style-type: none;
	margin-left: 10px;
	padding: 10px;
	text-transform: uppercase;
}

.nav-wrapper a{
	letter-spacing: .1em;
	text-decoration: none;
	font-weight: bold;
}

.nav-wrapper a:hover{
	cursor: pointer;
	color: #eee;
}

.logo{
	font-weight: bold;
	font-size: 24px;
}

.branch-wrapper{
	padding: 10px;
	max-width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1f);
	grid-gap: 10px;
	grid-template-areas: 
		"branchHeader branchHeader branchHeader"
		"branch1 branch2 branch3"
}

.wrapper2{
	grid-area:branchHeader;
	min-height: 30px;
	padding: 15px;
	background-color: rgb(77, 189, 96);
}

.branch1{
	grid-area: branch1;
	min-height: 400px;
	background-color: rgba(53, 255, 46, 0.2);
	padding: 15px;
}
.branch2{
	grid-area: branch2;
	min-height: 400px;
	background-color: rgba(53, 255, 46, 0.2);
	padding: 15px;
}
.branch3{
	grid-area: branch3;
	min-height: 400px;
	background-color: rgba(53, 255, 46, 0.2);
	padding: 15px;
}

/* .footer{
	
	margin: auto;
	margin-bottom: 0;
	justify-content: center;
	background-color: rgba(12, 163, 45, 0.2);
	bottom: 0;
	height: 4.9rem;
	width: 100%;
	
} */


/* TABLET MEDIA QUERY */

@media screen and (max-width: 950px)
{
	.branch-wrapper{
		width: 100%;
		grid-template-areas:
		"branchHeader branchHeader branchHeader" 
		"branch1 branch2 branch3"
	}

	.nav-wrapper{
		grid-column: 1/5;
		text-align: center;
	}

	.header-wrapper{
		margin-top: 0;
	}
}

/* MOBILE MEDIA QUERY */

@media screen and (max-width: 690px)
{
	.header-wrapper{
		margin-top: 0;
	}
	.branch-wrapper{
		grid-template-areas:
		"branchHeader branchHeader branchHeader" 
		"branch1 branch1 branch1"
		"branch2 branch2 branch2"
		"branch3 branch3 branch3"
	}
	.nav-wrapper{
		grid-column: 1/5;
		text-align: center;
	}

	.nav-wrapper ul{
		padding: 0;
		margin: 0;
	}

	.nav-wrapper ul li{
		display: block;
	}
	.burger-menu{
		display: inline-block;
		justify-self: end;
		grid-column: 4/5;
		border: 2px solid #333;
		color: #333;
		padding: 10px;
		font-weight: bold;
		border-radius: 3px;
	}
	.burger-menu:hover{
		cursor:pointer;
	}

	.branch1{
		grid-area: branch1;
		min-height: 150px;
		background-color: aqua;
	}
	.branch2{
		grid-area: branch2;
		min-height: 150px;
		background-color: aqua;
	}
	.branch3{
		grid-area: branch3;
		min-height: 150px;
		background-color: aqua;
	}

	.mobile-show{
		display: block;
	}
	
	.mobile-hide{
		display: none;
	}

}