body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: aliceblue;
}
.container{
	width: 100%;
	margin: auto;
	padding: 0;
}
.header-wrapper{
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px 20px;
	margin-top: 30px;
	display: grid;
	grid-template-columns: 25% auto;
	background-color: aquamarine;
}

.burger-menu{
	display: none;
}

.main-wrapper{
	max-width: 1200px;
	margin: auto;
}

.nav-wrapper ul li{
	display: inline;
	list-style-type: none;
	margin-left: 10px;
	padding: 10px;
	text-transform: uppercase;
}

.nav-wrapper a{
	letter-spacing: .1em;
	text-decoration: none;
	font-weight: bold;
}

.nav-wrapper a:hover{
	cursor: pointer;
	color: #eee;
}

.logo{
	font-weight: bold;
	font-size: 24px;
}

table{
	border-style: inset;
}

.main-featured{
	padding: 20px;
	max-width: 100%;
	min-height: 400px;
	margin: 0 auto ;
	display: grid;
	grid-template-columns: repeat(3, 1f);
	grid-gap: 10px;
	grid-template-areas: 
		"sub1 sub1 sub1"
		"sub2 sub2 sub2"
		
}

.sub1{
	grid-area:sub1;
	margin: auto;
}
.sub2{
	grid-area:sub2;
	margin: auto;
}
.sub3{
	grid-area:sub3;;
	margin: auto;
}
.sub4{
	grid-area:sub4;;
	margin: auto;
}

/* 
.footer{
	display: grid;
	margin: auto;
	justify-content: center;
	background-color: rgba(12, 163, 45, 0.2);
	bottom: 0;
	height: 5.5rem;
	width: 100%;
	
} */

/* .slide-container {
	width: 70%;
	margin: auto; 
}
  
  h3 {
	text-align: center; 
}
  
  .each-slide > div {
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	height: 300px;
}
  
  .each-slide span {
	padding: 20px;
	font-size: 20px;
	background: #efefef;
	text-align: center;
  } */


/* TABLET MEDIA QUERY */

@media screen and (max-width: 950px)
{
	.wrapper1{
		grid-template-areas:
		"branchHeader branchHeader branchHeader" 
		"branch1 branch2 branch3"
	}

	.nav-wrapper{
		grid-column: 1/5;
		text-align: center;
	}

	.header-wrapper{
		margin-top: 0;
	}
}

/* MOBILE MEDIA QUERY */

@media screen and (max-width: 690px)
{
	.wrapper1{
		grid-template-areas:
		"branchHeader branchHeader branchHeader" 
		"branch1 branch1 branch1"
		"branch2 branch2 branch2"
		"branch3 branch3 branch3"
	}
	.nav-wrapper{
		grid-column: 1/5;
		text-align: center;
	}

	.nav-wrapper ul{
		padding: 0;
		margin: 0;
	}

	.nav-wrapper ul li{
		display: block;
	}
	.burger-menu{
		display: inline-block;
		justify-self: end;
		grid-column: 4/5;
		border: 2px solid #333;
		color: #333;
		padding: 10px;
		font-weight: bold;
		border-radius: 3px;
	}
	.burger-menu:hover{
		cursor:pointer;
	}

	.branch1{
		grid-area: branch1;
		min-height: 150px;
		background-color: aqua;
	}
	.branch2{
		grid-area: branch2;
		min-height: 150px;
		background-color: aqua;
	}
	.branch3{
		grid-area: branch3;
		min-height: 150px;
		background-color: aqua;
	}

	.mobile-show{
		display: block;
	}
	
	.mobile-hide{
		display: none;
	}

}