
.container{
	width: 1200px;
	margin: auto;
	padding: 0;
}
.burger-menu{
	display: none;
}
.main-wrapper{
	max-width: 100%;;
	margin: auto;
	padding: 20px 20px;
}

img{
	width: 50%;
	height: 50%;
}
.tips-wrapper{
	margin: auto;
	max-width: 70%;
	margin: auto;
	min-height: 200px;

}

.footer{
	display: grid;
	margin: auto;
	justify-content: center;
	background-color: rgba(12, 163, 45, 0.2);
	bottom: 0;
	height: 5.5rem;
	width: 100%;
	
}

/* TABLET MEDIA QUERY */
@media screen and (max-width: 950px)
{

}

/* MOBILE MEDIA QUERY */
@media screen and (max-width: 690px)
{


}